
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

body {
    background-color: #00B7FF;
    height: 500vh;
}


.interface {
    max-width: 1280px;
    margin: 0 auto;
}


.header {
    background-color: #000000;
    color: white;
    padding: 20px 4%;
}

.header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header a:hover {
    color: #FFD700;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px; 
}


.main-content {
    padding: 20px;
    text-align: center;
}

h2{
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
    color: #FFD700; 
}
 
p {
    font-size: 1.2rem;
    margin: 40px 0;
    padding-right: 40px ;
    font-weight: 500;
    text-align: center;
}


.container {
    padding: 1.5rem;
    margin: auto;
    display: grid;  
    flex-direction: column;
    justify-content: center;
    grid-template-columns: (2,1fr);
}

.button-jogar button{
    color: #FFD700;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
} 

/* footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
} */

.section{ 
    
    padding: 2rem; 
    gap: 4rem; 
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 20rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 800;
  }
  
  .image img {
    max-width: min(22rem, 100%); 
    max-height: 30rem; 
    width: auto;
    height: auto;
    border-radius: 20%;
    align-items: center;
    margin-left: 5rem;
    display: flex;
  }

  .barra{
    color: #FFD700;
  }

/* topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 6rem;
}